<!--
@license
Copyright (c) 2016 The Polymer Project Authors. All rights reserved.
This code may only be used under the BSD style license found at http://polymer.github.io/LICENSE.txt
The complete set of authors may be found at http://polymer.github.io/AUTHORS.txt
The complete set of contributors may be found at http://polymer.github.io/CONTRIBUTORS.txt
Code distributed by Google as part of the polymer project is also
subject to an additional IP rights grant found at http://polymer.github.io/PATENTS.txt
-->

<link rel="import" href="../bower_components/polymer/polymer.html">
<link rel="import" href="shared-styles.html">

<dom-module id="fallback-view">
  <template>
    <style include="shared-styles">
      :host {
        display: block;

        padding: 10px;
      }
    </style>

    <div class="card">
      <p><strong>TODO:</strong> warning about additional donation YouCaring tries to include in payment</p>
      <iframe src="https://www.youcaring.com/fundraiser-widget.aspx?frid=653124" width="335" height="454" frameborder="0"></iframe>
    </div>
  </template>

  <script>
    Polymer({
      is: 'fallback-view'
    });
  </script>
</dom-module>
